<header>
    <h1>EATA-DA-VEGGIE-BURGER!</h1>
    <img src="assets/img/burger.png" alt="burger">
</header>

<article>
    <section>
        {{!-- adding burgers to one list or the other based on devoured true/false value from db --}}
        <section class="burger-list">
            <h2 class="list-heading">Eat-Em-Up</h2>
            <ul id="not-devoured">
                {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=false}} {{/unless}} {{/each}}
            </ul>
        </section>
        <section class="burger-list">
            <h2 class="list-heading">Digestin'</h2>
            <ul id="devoured">
                {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=true}} {{/if}} {{/each}}
            </ul>
        </section>
    </section>
    <form id="main-form">
        <fieldset>
            <legend>Explore the world of meatless burgers by entering a burger name below and clicking "Submit".</legend>
            <textarea type="text" name="burger" id="burger-input" rows="4" cols="40"></textarea>
            <input type="submit" value="Submit" id="submit-btn">
        </fieldset>
    </form>
</article>

<footer>
    <p>Copyright ARM 2018</p>
    <div>Icon made by
        <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
</footer>