{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. * Create a button in `index.handlebars`
that will submit the user input into the database. --}}

<article>
    <form id="main-form">
        <fieldset>
            <legend>Explore the world of meatless burgers by entering a burger name below and clicking "Submit".</legend>
            <textarea name="burger" id="burger-input" rows="4" cols="40"></textarea>
            <input type="submit" value="Submit" id="submit-btn">
        </fieldset>
    </form>
</article>

<footer>
    <p>Copyright ARM 2018</p>
    <div>Icon made by
        <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
</footer>