/* Colors
red: rgba(255, 51, 15, 1);
dark brown: rgba(38, 38, 38, 1);
white: rgba(255, 255, 255, 1);
 */

/* ------------GLOBAL-------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    background: rgba(38, 38, 38, 1);
    color: rgba(255, 255, 255, 1);
}
h1 {
    color: rgba(255, 51, 15, 1);
    font-size: 2rem;
    margin: 2rem;
}
img {
    margin-bottom: 2rem;
}

/* ------------HEADER-------------------- */
/* ------------FOOTER-------------------- */
footer {
    position: absolute;
    bottom: 0;
    width: 80%;
}
footer p {
    margin-bottom: .75rem;
    font-size: .8rem;
}
footer div {
    margin-bottom: 1rem;
    font-size: .7rem;
}
footer a {
    color: rgba(255, 255, 255, 1);
}
/* ------------MAIN-------------------- */
ul {
    display: inline-block;
    color: rgba(38, 38, 38, .6);
}
ul:first-of-type {
    margin-right: 2rem;
    color: rgba(38, 38, 38, 1);
}
li {
    background: rgba(255, 255, 255, 1);
    padding: .5rem;
    border-radius: 4px;
    margin: .2rem;
}
.devour {
    border: 2px solid rgba(255, 51, 15);
    color: rgba(255, 51, 15);
    border-radius: 4px
}
.devour:hover {
    background: rgba(255, 51, 15, 0.3);
    cursor: pointer;
}
legend {
    margin: 2rem 1rem 1rem;
    padding-top: 2rem;
}
input[type=submit] {
    display: block;
    width: 300px;
    background-color: rgba(255, 51, 15);
    color: rgba(255, 255, 255, 1);
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: .8rem;
}
input[type=submit]:hover {
    display: block;
    width: 300px;
    background-color: rgb(218, 49, 20);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 51, 15);
    border-style: inset;
}
